@font-face {
    font-family: 'Fellix';
    src: local('Fellix'), url(./fonts/Fellix-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FellixSemibold';
    src: local('Fellix'), url(./fonts/Fellix-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'FellixMedium';
    src: local('Fellix'), url(./fonts/Fellix-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'FellixBold';
    src: local('Fellix'), url(./fonts/Fellix-Bold.ttf) format('truetype');
}

*,
html,
body {
    scroll-behavior: smooth;
    font-family: Fellix, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.slick-arrow {
    display: none !important;
}

.slick-track {
    @apply !flex !gap-7;
}


.custom-container {
    @apply max-w-[1300px] px-5 sm:px-10 m-auto
}

.active {
    @apply !font-medium
}

.open {
    @media screen and (max-width:1024px) {
        z-index: 20;
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(244 94 81 / 0.45);
        background-color: white;
    }
}

@keyframes customBounce {

    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(10px);
        /* Adjust the bounce distance as needed */
    }

    50% {
        transform: translateY(0px);

    }

    75% {
        transform: translateY(10px);

    }

    100% {
        transform: translateY(0px);
        /* Adjust the bounce distance as needed */
    }
}

.animate-custom-bounce {
    animation: customBounce 6s infinite;
    /* Adjust the animation speed (1s in this example) */
}